/* AnchorPane style */
.pane {
    -fx-background-color: linear-gradient(#3d3a94, black);
}

/* The main label */
.label {
    -fx-font-family: "Arial";
    -fx-font-size: 35;
    -fx-text-fill: white;

}

/* Small Labels */
.label-small {
    -fx-font-family: "Arial";
    -fx-font-size: 20;
    -fx-text-fill: #a4a4a4;

}

/* Label shows recipe */
.label-recipe {
    -fx-font-family: "Arial";
    -fx-font-size: 15;
    -fx-text-fill: #858383;

}

/* Label recommended */
.label-recommended {
    -fx-font-family: "Arial";
    -fx-font-size: 30;
    -fx-text-fill: #e1e0e0;
}

/* Label email */
.label-email {
    -fx-font-family: "Arial";
    -fx-font-size: 15;
    -fx-text-fill: #4781ff;
}

/* email hover */
.label-email:hover {
    -fx-text-fill: #004fef;
}

/* Label in bottom part */
.label-bottom {
    -fx-font-family: "Arial";
    -fx-font-size: 15;
    -fx-text-fill: gray;
}

/* Label show username */
.label-say-name {
    -fx-font-family: "Arial";
    -fx-font-size: 40;
    -fx-text-fill: white;
}

/* Label shows phrases */
.label-say-hi {
    -fx-font-family: "Arial";
    -fx-font-size: 20;
    -fx-text-fill: white;
}

/* Button go the GitHub */
.btnGitHub {
    -fx-text-fill: #4781ff;
    -fx-background-color: black;
    -fx-border-radius: 50;
    -fx-background-radius: 20;
    -fx-opacity: 1;
}

/* Button GitHub hover */
.btnGitHub:hover {
    -fx-text-fill: #004fef;
}

/* Button add to favorites */
.btnAdd {
    -fx-text-fill: #30ce26;
    -fx-background-color: black;
    -fx-border-radius: 50;
    -fx-background-radius: 20;
    -fx-opacity: 0.7;
}

/* Button add to favorites hover */
.btnAdd:hover {
    -fx-text-fill: #15ff00;
}

/* Button remove from favorites */
.btnRemove {
    -fx-text-fill: #d72222;
    -fx-background-color: black;
    -fx-border-radius: 50;

    -fx-opacity: 0.7;
}

/* Button remove from favorites hover */
.btnRemove:hover {
    -fx-text-fill: #ff0000;
}

/* Grid pane */
.grid-pane {
    -fx-background-color: linear-gradient(#383586, black);
}

/* Scroll pane */
.scroll-pane {
    -fx-background-color: linear-gradient(#383586, black);
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: linear-gradient(#383586, black);
}

.increment-button, .decrement-button {
    -fx-background-color: black;
    -fx-border-color: black;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: linear-gradient(#383586, black);
    -fx-border-color: black;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #323248;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}

/* Label shows empty description */
.label-emptyFavorites {
    -fx-font-family: "Arial";
    -fx-font-size: 32;
    -fx-text-fill: #b7b6b6;
}